/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  position: relative;
  min-height: 100%;
}

body{
  font-family: 'Roboto Slab', serif;
  margin-bottom: 70px;
}

.content-container{
 padding-top:5%;
}

.navbar-brand{
  padding: 11px 15px;
}

.welcome-jumbo{
  background-image: url("marketing/mission-cuttingboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-group{
padding:15px;
}

.cc-exp-field{
  width:25%;
  display:inline-block;
}
.btn-sign-up{
  float:right;
  margin-right: 13%;
  margin-top: 5%;
}

.form-subheader{
  padding: 15px;
  padding-left: 40px;
  color: #337ab7;
}

.plan-image{
  width:300px;
  margin-left: 80px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor:pointer;
}

.learn-more-box{
  padding-left:0px;
  padding-right:0px;
  min-height: 515px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.learn-more-logo{
  width:15%;
  margin-right:20px;
}

.learn-more-image{
  width:100%;
}

.image-caption{
  margin: auto;
  color:##273f52;
  font-size:18px;
  padding:10px;
}

.learn-more-image-caption{
  width:100%;
}

.meal-plan-image-caption{
  width:60%;
  color:#286090;
}

#sign-up-form img:hover{
  border-color: #333333;
  border-width: 1px;
  box-shadow: 0px 1px 1px 0px #828282;
}


.selected_plan_image{
  border-color: #333333;
  border-width: 1px;
  box-shadow: 0px 1px 1px 0px #828282;
}

figcaption ul{
  font-size:17px;
}

figcaption li{
  padding: 10px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color:beige;
  font-size:20px;
  padding:20px;
  background-color: #313567;
}

footer .fa{
  padding-left: 20px;
}
