<div ng-controller='signUpCtrl'>
  <legend><h1>Sign up</h1></legend>
  <form name="signupForm" id="sign-up-form">
    <div class="alert alert-dismissible alert-danger" hidden="true">
      <span class="payment-errors"></span>
    </div>

      <!-- select meal plan section -->
      <div class="col-lg-12 row">
        <h4 class="form-subheader">Select Your Meal Plan:</h4>
      </div>

      <div class="col-lg-12 row">
        <div class="col-lg-6">
          <figure>
          <img src="http://d35uzl96cmnmq2.cloudfront.net/processed/blueapron_2person_plan_A_1600.jpg" class="plan-image" ng-class="{selected_plan_image: user.planId == 1}" ng-click="changePlan(1)">
          <figcaption class="image-caption meal-plan-image-caption">2-Person Meal Plan: $59.99</figcaption>
          </figure>
        </div>
        <div class="col-lg-6">
          <figure>
          <img src="http://d35uzl96cmnmq2.cloudfront.net/processed/blueapron_family_plan_A_1600.jpg" class="plan-image" ng-class="{selected_plan_image: user.planId == 2}" ng-click="changePlan(2)">
          <figcaption class="image-caption meal-plan-image-caption">Family Meal Plan: $79.99</figcaption>
          </figure>
        </div>
      </div>

      <!-- check flow with payment request -->
      <div ng-show="hasPaymentRequestSupport">
        <div class="col-lg-12 row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <button class="btn btn-primary btn-sign-up" ng-click="signUpWithPaymentRequest()">sign up</button>
          </div>
        </div>
      </div>

      <!-- legacy checkout flow -->
      <div ng-hide="hasPaymentRequestSupport" class="ng-hide">
        <!-- personal information section -->
        <div class="col-lg-12 row">
          <h4 class="form-subheader">Personal Information:</h4>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">Email:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="email" ng-model="user.email"></input>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="password" class="col-lg-4 control-label">Password:</label>
              <div class="col-lg-8">
                <input type="password" class="form-control" required name="password" ng-model="user.password"></input>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="firstName" class="col-lg-4 control-label">First Name:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="firstName" ng-model="user.firstName"></input>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="lastName" class="col-lg-4 control-label">Last Name:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="lastName" ng-model="user.lastName"></input>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 row">
          <h4 class="form-subheader">Shipping Information:</h4>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="address1" class="col-lg-4 control-label">Address Line 1:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="address1" ng-model="user.address.addressLine1"></input>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="address2" class="col-lg-4 control-label">Address Line 2:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="address2" ng-model="user.address.addressLine2"></input>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="city" class="col-lg-4 control-label">City:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="city" ng-model="user.address.city"></input>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="state" class="col-lg-4 control-label">State:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="state" ng-model="user.address.state"></input>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="zip" class="col-lg-4 control-label">Zip:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required name="zip" ng-model="user.address.zip"></input>
              </div>
            </div>
          </div>
        </div>

        <!-- credit card information section -->
        <div class="col-lg-12 row">
          <h4 class="form-subheader">Credit Card Information:</h4>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="cardNumber" class="col-lg-4 control-label">Card Number:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="cardNumber" maxlength="16" size="16" data-stripe="number" ng-model="user.creditCard.cardNumber"></input>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-lg-4 control-label">Expiration (MM/YY)</label>
              <div class="col-lg-8">
                <input type="text" class="form-control cc-exp-field" maxlength="2" size="2" data-stripe="exp_month" name="expirationMonth" ng-model="user.creditCard.expirationMonth">
                <span>/</span>
                <input type="text" class="form-control cc-exp-field" maxlength="2" size="2" data-stripe="exp_year" name="expirationYear" ng-model="user.creditCard.expirationYear">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="cvc" class="col-lg-4 control-label">CVC:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="cvc" data-stripe="cvc" ng-model="user.creditCard.cvc"></input>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <button class="btn btn-primary btn-sign-up" ng-disabled="signupForm.$invalid" ng-click="signUp()">submit</button>
          </div>
        </div>
      </div>

  </form>
</div>
